<section id="login-page">


    <form class="form-login">
        <h2 class="form-login-heading">Logue-se no sistema</h2>
        <div class="login-wrap">
            <input type="text" class="form-control" placeholder="Email" autofocus>
            <br>
            <input type="password" class="form-control" placeholder="Password">
            <br>
            <button type="submit" ng-click="loginCtrl.login()" class="btn btn-theme btn-block"><i class="fa fa-lock"></i> ACESSAR</button>
            <hr>

        </div>
    </form>



</section>