<div class="container center-block">

    <div class="jumbotron col-md-5 col-md-offset-3" ng-if="registerComplaintCtrl.responseComplaintId.length != 0">
        <div class="row">
            <p>Queixa criada com sucesso!</p>
        </div>
        <div class="row">
            <p>Você pode consultar o status da queixa pelo seguinte id: {{registerComplaintCtrl.responseComplaintId}}</p>
        </div>
    </div>

    <div ng-if="registerComplaintCtrl.responseComplaintId.length == 0">
        <form name="complaintForm">
            <div class="col-md-5 col-md-offset-3">
                <fieldset>
                    <legend>Dados da Queixa</legend>
                    <!--Description field-->
                    <div class="form-group row">
                        <label for="inputDescription" class="col-sm-2 col-form-label">Descrição:</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" name="description" id="inputDescription" ng-model="complaint.descricao" ng-required="true"></textarea>
                            <div ng-show="complaintForm.description.$dirty" ng-messages="complaintForm.description.$error">
                                <div ng-message="required" class="message-error">
                                    Por favor, insira uma descrição da queixa.
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Dados do solicitante</legend>
                    <!--Name field-->
                    <div class="form-group row">
                        <label for="inputName" class="col-sm-2 col-form-label">Nome:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="name" id="inputName" ng-model="complaint.solicitante.nome" ng-required="true"
                                ng-minlength="5">
                            <div ng-show="complaintForm.name.$dirty" ng-messages="complaintForm.name.$error">
                                <div ng-message="required" class="message-error">
                                    Por favor, insira o nome do solicitante.
                                </div>
                                <div ng-message="minlength" class="message-error">
                                    Por favor, insira um nome com pelo menos 5 caracteres.
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Email field-->
                    <div class="form-group row">
                        <label for="inputEmail" class="col-sm-2 col-form-label">Email:</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" name="email" id="inputEmail" ng-model="complaint.solicitante.email" ng-required="true">
                            <div ng-show="complaintForm.email.$dirty" ng-messages="complaintForm.email.$error">
                                <div ng-message="required" class="message-error">
                                    Por favor, insira o Email do solicitante.
                                </div>
                                <div ng-message="email" class="message-error">
                                    Por favor, insira um Email válido.
                                </div>
                            </div>
                        </div>
                    </div>
                    <legend>Endereço do estabelecimento</legend>
                    <!--Street field-->
                    <div class="form-group row">
                        <label for="inputStreet" class="col-sm-2 col-form-label">Rua:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="street" id="inputStreet" ng-model="complaint.solicitante.rua" ng-required="true">
                            <div ng-show="complaintForm.street.$dirty" ng-messages="complaintForm.street.$error">
                                <div ng-message="required" class="message-error">
                                    Por favor, insira a rua do estabelecimento.
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--City field-->
                    <div class="form-group row">
                        <label for="inputCity" class="col-sm-2 col-form-label">Cidade:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="city" id="inputCity" ng-model="complaint.solicitante.cidade" ng-required="true">
                            <div ng-show="complaintForm.city.$dirty" ng-messages="complaintForm.city.$error">
                                <div ng-message="required" class="message-error">
                                    Por favor, insira a cidade do estabelecimento.
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--UF field-->
                    <div class="form-group row">
                        <label for="inputUf" class="col-sm-2 col-form-label">UF:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="uf" id="inputUf" ng-model="complaint.solicitante.uf" ng-required="true">
                            <div ng-show="complaintForm.uf.$dirty" ng-messages="complaintForm.uf.$error">
                                <div ng-message="required" class="message-error">
                                    Por favor, insira o estado do estabelecimento.
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <button class="btn btn-primary btn-block" ng-click="registerComplaintCtrl.registerComplaint(complaint)" ng-disabled="complaintForm.$invalid">Adicionar Queixa</button>
            </div>
        </form>
    </div>

</div>