
/* Import fonts */
@import url(http://fonts.googleapis.com/css?family=Ruda:400,700,900);


body {
    color: #797979;
	background: #f2f2f2;
    font-family: 'Ruda', sans-serif;
    padding: 0px !important;
    margin: 0px !important;
    font-size:14px;
}

.wrapper {
    display: inline-block;
    margin-top: 60px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-top: 0px;
    width: 100%;
}

.main{
    min-height: 600px;
}

.form-login {
	max-width: 530px;
	margin: 50px auto 0;
	background: #fff;
	border-radius: 5px;
	-webkit-border-radius: 5px;
}

.form-login h2.form-login-heading {
	margin: 0;
	padding: 25px 20px;
	text-align: center;
	background: #2978A0;
	border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	color: #fff;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 300;
}
.login-wrap {
	padding: 15px;
}
.login-wrap .registration {
	text-align: center;
}

.message-error {
    color: red;
}

.site-footer {
    background: #2978A0;
    color: #fff;   
    padding: 10px 5px;
    text-align: center;
}

.site-footer a {
    color: #fff;
}

.modal-header {
	background: #69A2B0;
    color: white;
    text-align: center;
}


.modal-header h3 {
    margin-top: 8px;
}

.modal-header p {
    font-size: 10px;
    margin: 0px;
   
}